//

.main_logo {
    display: block;
    background-image: url('../assets/images/main-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    //
    width: 170px;
    height: 30px;
}
