<section class="section_ratings font_r">
  <div class="container_ratings">
    <div class="header">
      <span class="logo">LOGO</span>
      <app-headings-primitive usage="section">AVIS Customer Ratings in <a href="#" class="anchor_underline--main">Milan</a></app-headings-primitive>
    </div>
    <div class="row_ratings">
      <div class="main_rating">
        <span class="main_rating_value">8.3</span>
        <span class="font_sb_22">Excellent</span>
        <a href="#" class="anchor_underline--main main_rating_reviews">150+ reviews</a>
      </div>

      VARIANTS A
      <app-ratings-block [ratingsList]="[
        {'item' : 'Overall value for money of your car rental', 'value' : '8.3'},
        {'item' : 'How easy was it to find pickup location?', 'value' : '8.2'},
        {'item' : 'Work efficiency of the car rental agents', 'value' : '8.4'},
        {'item' : 'Time spent picking up the car', 'value' : '8.5'},
        {'item' : 'Time spent dropping off the car', 'value' : '7.9'},
        {'item' : 'Car cleanliness', 'value' : '7.6'},
        {'item' : 'Overall condition of the car', 'value' : '7.8'}
      ]"></app-ratings-block>

      VARIANTS B
      <app-ratings-block ratingsList={{rList}}></app-ratings-block>

    </div>
  </div>
</section>
