<section class="section_ratings font_r">
  <div class="container_ratings">
    <div class="header">
      <a href="#" class="header-logo"><img src="{{header.logo_path}}" alt=""></a>
      <app-headings-primitive usage="section">{{header.text}} <a href="#" class="anchor_underline--main">{{header.place}}</a></app-headings-primitive>
    </div>
    <div class="body">
      <div class="row row_ratings">
        <!--main_rating BLOKA SĀKUMS  -->
        <div class="main_rating">
          <span class="main_rating_value">8.3</span>
          <span class="main_rating_item font_sb">Excellent</span>
          <a href="#" class="anchor_underline--main main_rating_reviews font_r_13">150+ reviews</a>
        </div>
        <!--main_rating BLOKA BEIGAS  -->
        <app-ratings-block [ratingsList]="ratingsList"></app-ratings-block>
      </div>
      <div class="row row_reviews">
        <ng-container *ngFor="let review of reviewsData">
          <app-review-block [userData]="review.userData" [reviewsPlus]="review.reviewsPlus" [reviewsMinus]="review.reviewsMinus"></app-review-block>
        </ng-container>
        <div class="row_footer font_r_13">
          <a class="anchor" href={{allReviews.href}}>
            <app-icons-primitive icon="angle_double_right"></app-icons-primitive>
            {{allReviews.item}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
