//https://www.w3schools.com/css/css_dropdowns.asp
//
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 100;
}

.dropdown:hover .dropdown-content {
    display: block;
}
