//
.dropdown {
    position: relative;
    display: inline-block;

    &-content {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 100;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    &-active .dropdown-content,
    &:focus .dropdown-content {
        opacity: 1;
        visibility: visible;
        cursor: auto;
    }
}
