//https://www.w3schools.com/css/css_dropdowns.asp

.dropdown {
    position: relative;
    display: inline-block;

    &-content {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 100;
    }

    &:hover {
        cursor: pointer;
    }

    &-active .dropdown-content,
    &:hover .dropdown-content {
        opacity: 1;
        visibility: visible;
        cursor: auto;
    }
}
