.appbtn {
  display: block;
  border: none;

  &:focus {
    outline: none;
  }

  &-large {
    @extend .appbtn;
    width: 234px;
    height: 71px;
    border-radius: 10px;
  }

  &-small {
    @extend .appbtn;
    width: 135px;
    height: 40px;
    border-radius: 5px;
  }
}
