.block--subscribe{
  background-color: #444444;
  padding: 22px 20px;
}

.form-input_subscribe {
  @extend .form-input;
  border-radius: 2px;
  padding: 15px 0px;
  margin: 10px 0px;
  font-family: open_sansregular;
  font-size: 16px;
}

.heading-alternative_subscribe {
  @extend .heading-alternative;
  color: #cccccc;
  padding-bottom: 15px;
}

.heading-subject_subscribe {
  @extend .heading-subject;
  color: #aaaaaa;
  padding-bottom: 8px;
  line-height: 18px;
}