<div class="block--by_phone font_r_15">
  <app-headings-primitive usage="subject">You can book car by phone</app-headings-primitive>
  <div class="row--by_phone"><a class="anchor anchor--by_phone" href="tel:+37166010858">(+371) 6-601-0858</a></div>
  <div class="social--by_phone">
    <span class="row--by_phone separator--by_phone"></span>
    <div class="row--by_phone">We are social</div>
    <div class="row--by_phone">
      <a class="anchor icon--by_phone" href="#"><app-icons-primitive icon="facebook_soc"></app-icons-primitive></a>
      <a class="anchor icon--by_phone" href="#"><app-icons-primitive icon="google_plus_soc"></app-icons-primitive></a>
      <a class="anchor icon--by_phone" href="#"><app-icons-primitive icon="youtube_soc"></app-icons-primitive></a>
    </div>
  </div>
</div>
