
$coolestColorEver: #bada55;
$goldMargin: 15px;
//
//
//ext START
@mixin ext($extention) {
    $selector: nth(&, 1);

    &#{$extention} {
        @extend #{$selector} !optional;
        @content;
    }
}
//ext END
//
//
//media START
$media_phone_width: 320px;
$media_tablet_width: 640px;
$media_desktop_width: 1024px;
//
@mixin media($type) {
     @if $type == xs-only{
        @media (max-width: #{$media_tablet_width - 1px}) {
             @content;
        }
    }
    @else if $type == md {
         @media (min-width: #{$media_tablet_width}){
            @content;
        }
    }
    @else if $type == md-only {
         @media (min-width: #{$media_tablet_width}) and (max-width: #{$media_desktop_width - 1px}){
            @content;
        }
    }
    @else if $type == lg {
         @media (min-width: #{$media_desktop_width}){
            @content;
        }
    }
    @else {
         @error"Houston, we have a problem!";
    }
}
//media END
//
//

$icons: (
        facebook: '\F09A',
        google_plus: '\F0D5',
        youtube: '\F167',
        angle_double_right: '\F101',
        angle_down: '\F107',
        bars: '\F0C9',
        star: '\F005',
        star_half: '\F123',
        star_empty: '\F006',
        caret-up: '\F0D8',
        caret-down: '\F0D7',
        plus: '\F067',
        minus: '\F068'
);
