<div class="layout_bok_car">
  <div class="layout_bok_car--back_tone"></div>
  <div class="container_bok_car">
    <div class="main_box_bok_car">
      <div class="main_box_bok_car-row">
        <h1 class="heading_bok_car">Book car rentals from your phone</h1>
        <p class="text_bok_car font_r_18">From any kind of Android smartphone, you can easily and quickly book a vehicle with the EconomyBookings App. Just select your branch and vehicle and complete your booking!</p>
        <div class="vote_bok_car cf">
          <div class="vote_bok_car-row">
            <app-store-button-primitive size="large" color="light" brand="google"></app-store-button-primitive>
            <div class="rating rating_bok_car">
              <app-rating-primitive [rating]="67"></app-rating-primitive>
            </div>
          </div>
          <div class="vote_bok_car-row">
            <app-store-button-primitive size="large" color="light" brand="apple"></app-store-button-primitive>
            <div class="rating rating_bok_car">
              <app-rating-primitive [rating]="39"></app-rating-primitive>
            </div>
          </div>
        </div>
        <div class="rental_bok_car">
          <a href="#"><img class="rental_bok_car-item" src="/assets/layouts/book-car/assets/crn.png" alt=""></a>
          <a href="#"><img class="rental_bok_car-item" src="/assets/layouts/book-car/assets/auto-renta.png" alt=""></a>
        </div>
      </div>
      <div class="main_box_bok_car-row">
        <div class="phone_img_bok_car">
          <a href="#"><img src="/assets/layouts/book-car/assets/phone.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
