.btn, a.btn, button.btn {
  min-height: $button-height-base;
  background-color: #0073b5;
  border: none;
  border-radius: $button-border-radius-base;
  color: $button-color-base;
  font-family: 'open_sansregular';
  font-size: $button-font-size;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 1;
  padding: $button-space-vertical $button-space-horizontal;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten(#0073b5, 10%);
  }

  &-main {
    @extend .btn;
    width: 100%;

      &_form {
        @extend .btn-main;
        background-color: #f26522;
      }
  }

  &-carousel {
    @extend .btn;
    font-family: 'open_sansbold';
    width: 151px;

      &:hover {
        background-color: #00a0fb;
      }

      &_active {
         @extend .btn-carousel;
         background-color: #f2a622;
       }
  }

}
