//
$button-height-base: 42px;
$button-color-base: #fff;
$button-font-size: 16px;
$button-space-vertical: ($button-height-base - $button-font-size) / 2;
$button-space-horizontal: 1em;
$button-border-radius-base: 4px;
