<section class="rent_car">
  <div class="container--rent-car">
    <app-headings-primitive [usage]="'alternative'" class="heading-alternative--rent-car">Rent car worldwide with EconomyBookings</app-headings-primitive>
    <div class="h-line"></div>
    <div class="wrapper--rent-car">
      <div class="item--rent-car">
        <div class="block--rent-car col">
          <div class="row">
            <div class="col-2_3">
              <app-headings-primitive [usage]="'subsection'" class="heading-subsection--rent-car">Why Book with EconomyBookings?</app-headings-primitive>
            </div>
          </div>
        </div>
        <div class="block--rent-car col-2_3">
          <div class="row">
            <div class="col-1_2">
              <app-checklist-primitive checklistStyle="checklist"
                                       class="font_r_15 checklist--rent-car"
                                       [items]="[
                                        'A wide selection of cars to choose from',
                                        'More than 150 countries and 20,000 locations',
                                        'More than 850 trustworthy suppliers worldwide'
                                         ]">

              </app-checklist-primitive>
            </div>
            <div class="col-1_2">
                <app-checklist-primitive checklistStyle="checklist"
                                         class="font_r_15 checklist--rent-car"
                                         [items]="[
                                        '24/7 multi-lingual customer support',
                                        'No credit card or amendment fees'
                                         ]">

                </app-checklist-primitive>
              <div class="antivirus-logo">
                <a href="#"><img src="/assets/layouts/rent-car-section-layout/assets/norton-secured.png" alt="nortonAV-black"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="block--rent-car col-1_3">
          <app-feedback></app-feedback>
        </div>
      </div>
      <div class="item--rent-car">
        <div class="block--rent-car">
          <app-questions-block></app-questions-block>
        </div>
        <div class="block--rent-car">
          <app-book-by-phone-block></app-book-by-phone-block>
        </div>
        <div class="block--rent-car">
          <app-stay-tuned-block></app-stay-tuned-block>
        </div>
      </div>
    </div>
  </div>
</section>
