<div class="layout_sitemap">
  <div class="container_sitemap">
    <div class="main_box_sitemap">

      <!--Suscribe SĀKUMS  -->
      <div class="block--subscribe">
        <h2 class="heading-alternative--subscribe">Subscribe to our best deals</h2>
        <h3 class="heading-subject--subscribe">Car hire at half price. Subscribe to our Exclusive Offers.</h3>
        <div class="form-wrapper--subscribe">
          <form>
            <input class="form-input--subscribe" type="text" name="txt" placeholder="Enter your email">
          </form>
          <button class="btn-main_form--subscribe">Subscribe</button>
        </div>
      </div>
      <!--Suscribe BEIGAS  -->

      <div class="info_box_sitemap">
        <div class="links_sitemap">


          <ng-container *ngFor="let link of linksList; let i=index">
            <div [ngClass]="['links_sitemap-col', (i < 3) ? 'font_r_12' : 'font_r_13']">
              <app-headings-primitive usage="subject" class="links_sitemap-col-head">{{link.title}}</app-headings-primitive>
              <ul class="links_sitemap-list">
                <li class="links_sitemap-item" *ngFor="let item of link.items">
                  <a class="anchor" href={{item.link}}>{{item.item}}</a>
                </li>
              </ul>
            </div>
          </ng-container>



          <!-- <div class="links_sitemap-col font_r_12">
<h3 class="heading-subject links_sitemap-col-head">Help</h3>
<ul class="links_sitemap-list">
<li class="links_sitemap-item"><a class="anchor" href="#">Privacy Policy</a>
</li>
<li class="links_sitemap-item"><a class="anchor" href="#">Terms</a>
</li>
<li class="links_sitemap-item"><a class="anchor" href="#">FAQ</a>
</li>
</ul>
</div>
<div class="links_sitemap-col font_r_13">
<h3 class="heading-subject links_sitemap-col-head--lg">Cooperation &amp; Partner Programs</h3>
<h3 class="heading-subject links_sitemap-col-head--lg">Partner Programs</h3>
<ul class="links_sitemap-list">
<li class="links_sitemap-item"><a class="anchor" href="#">Affiliate Programs For Publishers</a>
</li>
<li class="links_sitemap-item"><a class="anchor" href="#">For Car Rental Suppliers and Brokers</a>
</li>
<li class="links_sitemap-item"><a class="anchor" href="#">For Travel Agencies and Aggregators</a>
</li>
<li class="links_sitemap-item"><a class="anchor" href="#">Customer’s Referal Program</a>
</li>
</ul>
</div> -->

        </div>
        <div class="footbox_sitemap">
          <!-- LinksListSpecial SĀKUMS -->
          <select class="links_list_sitemap font_r_14" required>
            <option value="" disabled selected hidden>Jump to page...</option>
            <optgroup *ngFor="let link of linksList; let i = index" label={{link.title}}>
              <option *ngFor="let item of link.items" value={{item.optValue}}>{{item.item}}</option>
            </optgroup>
          </select>
          <!-- LinksListSpecial BEIGAS -->
          <!--Socicons SĀKUMS  -->
          <div class="socicons_sitemap">
            <a class="anchor socicons_sitemap-item" href="#">
              <app-icons-primitive icon="facebook_soc--footer"></app-icons-primitive>
            </a>
            <a class="anchor socicons_sitemap-item" href="#">
              <app-icons-primitive icon="youtube_soc--footer"></app-icons-primitive>
            </a>
            <a class="anchor socicons_sitemap-item" href="#">
              <app-icons-primitive icon="google_plus_soc--footer"></app-icons-primitive>
            </a>
          </div>
          <!--Socicons BEIGAS  -->
          <div class="store_sitemap">
            <app-store-button-primitive size="medium" color="dark" brand="apple"></app-store-button-primitive>
            <app-store-button-primitive size="small" color="dark" brand="google"></app-store-button-primitive>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
