<div class="layout_sitemap">
  <div class="container_sitemap">
    <div class="main_box_sitemap">

      <!--Suscribe SĀKUMS  -->
      <div class="block--subscribe">
        <h2 class="heading-alternative--subscribe">Subscribe to our best deals</h2>
        <h3 class="heading-subject--subscribe">Car hire at half price. Subscribe to our Exclusive Offers.</h3>
        <div class="form-wrapper--subscribe">
          <form>
            <input class="form-input--subscribe" type="text" name="txt" placeholder="Enter your email">
          </form>
          <button class="btn-main_form--subscribe">Subscribe</button>
        </div>
      </div>
      <!--Suscribe BEIGAS  -->

      <div class="info_box_sitemap">
        <div class="links_sitemap">
          <div class="links_sitemap-col">
            <h3 class="heading-subject links_sitemap-col-head">Company</h3>
            <ul class="links_sitemap-list font_r_12">
              <li class="links_sitemap-item"><a class="anchor" href="#">About Us</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">News</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">Cooperation</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">Contacts</a>
              </li>
            </ul>
          </div>
          <div class="links_sitemap-col font_r_12">
            <h3 class="heading-subject links_sitemap-col-head">Useful</h3>
            <ul class="links_sitemap-list">
              <li class="links_sitemap-item"><a class="anchor" href="#">Destination guide</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">Where Rent a Car</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">Best Deals</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">Terms of use</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">Mobile Apps</a>
              </li>
            </ul>
          </div>
          <div class="links_sitemap-col font_r_12">
            <h3 class="heading-subject links_sitemap-col-head">Help</h3>
            <ul class="links_sitemap-list">
              <li class="links_sitemap-item"><a class="anchor" href="#">Privacy Policy</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">Terms</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="links_sitemap-col font_r_13">
            <h3 class="heading-subject links_sitemap-col-head--lg">Cooperation &amp; Partner Programs</h3>
            <h3 class="heading-subject links_sitemap-col-head--lg">Partner Programs</h3>
            <ul class="links_sitemap-list">
              <li class="links_sitemap-item"><a class="anchor" href="#">Affiliate Programs For Publishers</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">For Car Rental Suppliers and Brokers</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">For Travel Agencies and Aggregators</a>
              </li>
              <li class="links_sitemap-item"><a class="anchor" href="#">Customer’s Referal Program</a>
              </li>
            </ul>
          </div>

        </div>
        <div class="footbox_sitemap">
          <!-- LinksListSpecial SĀKUMS -->
          <select class="links_list_sitemap font_r_14" required>
            <optgroup label="Company">
              <option value="" disabled selected hidden>Jump to page...</option>
              <option value="about_us">About Us</option>
              <option value="news">News</option>
              <option value="cooperation">Cooperation</option>
              <option value="contacts">Contacts</option>
            </optgroup>
            <optgroup label="Useful">
              <option value="destination_guide">Destination guide</option>
              <option value="where_rent">Where Rent a Car</option>
              <option value="best_deals">Best Deals</option>
              <option value="terms_of_use">Terms of use</option>
              <option value="mobile_apps">Mobile Apps</option>
            </optgroup>
            <optgroup label="Help">
              <option value="privacy_policy">Privacy Policy</option>
              <option value="terms">Terms</option>
              <option value="faq">FAQ</option>
            </optgroup>
            <optgroup label="Cooperation &amp; Partner Programs">
              <option value="affiliate_programs">Affiliate Programs For Publishers</option>
              <option value="for_car_rental">For Car Rental Suppliers and Brokers</option>
              <option value="for_travel_agencies">For Travel Agencies and Aggregators</option>
              <option value="terms_of_use">Terms of use</option>
              <option value="customers_referal">Customer’s Referal Program</option>
            </optgroup>
          </select>
          <!-- LinksListSpecial BEIGAS -->
          <!--Socicons SĀKUMS  -->
          <div class="socicons_sitemap">
            <span class="icon_facebook_soc--footer socicons_sitemap-item"></span>
            <span class="icon_youtube_soc--footer socicons_sitemap-item"></span>
            <span class="icon_google_plus_soc--footer socicons_sitemap-item"></span>
          </div>
          <!--Socicons BEIGAS  -->
          <div class="store_sitemap">
            <app-store-button-primitive size="medium" color="dark" brand="apple"></app-store-button-primitive>
            <app-store-button-primitive size="small" color="dark" brand="google"></app-store-button-primitive>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
