<ul class="block--ratings font_r_13">
  <li class="row--ratings">
    <span class="item--ratings">Overall value for money of your car rental</span>
    <span class="value--ratings">8.3</span>
  </li>
  <li class="row--ratings">
    <span class="item--ratings">How easy was it to find pickup location?</span>
    <span class="value--ratings">8.2</span>
  </li>
  <li class="row--ratings">
    <span class="item--ratings">Work efficiency of the car rental agents</span>
    <span class="value--ratings">8.4</span>
  </li>
  <li class="row--ratings">
    <span class="item--ratings">Time spent picking up the car</span>
    <span class="value--ratings">8.5</span>
  </li>
  <li class="row--ratings">
    <span class="item--ratings">Time spent dropping off the car</span>
    <span class="value--ratings">7.9</span>
  </li>
  <li class="row--ratings">
    <span class="item--ratings">Car cleanliness</span>
    <span class="value--ratings">7.6</span>
  </li>
  <li class="row--ratings">
    <span class="item--ratings">Overall condition of the car</span>
    <span class="value--ratings">7.8</span>
  </li>
</ul>
