.heading {

   &-section {
     font-family: open_sanssemibold;
     font-size: 24px;
   }

   &-subsection {
     font-family: open_sanssemibold;
     font-size: 18px;
   }

   &-subject {
     font-family: open_sanssemibold;
     font-size: 16px;
   }

 }