<div class="layout_other_cities">
  <div class="container_other_cities  font_r_13">
    <h1 class="heading_other_cities">{{title}}</h1>
    <ul class="list_other_cities">

      <li *ngFor="let city of citiesList; let i = index"
      [ngClass] ="(i < 10) ? 'list_other_cities-item' : 'list_other_cities-item--lg'">
      <a class="anchor" href={{city.href}}>{{itemText}}<strong>{{city.item}}</strong></a>
      </li>

    </ul>
    <div class="footer_other_cities">
      <a class="anchor" href={{allCitiesPage.href}}>
      <app-icons-primitive icon="angle_double_right"></app-icons-primitive>
      {{allCitiesPage.item}}</a>
    </div>
  </div>
</div>
