<div class="layout_other_cities">
  <div class="container_other_cities  font_r_13">
    <h1 class="heading_other_cities">AVIS in other cities of Italy</h1>
    <ul class="list_other_cities">
      <li class="list_other_cities-item"><a class="anchor" href="#">1 AVIS Car Rental in <strong> Rome</strong></a></li>
      <li class="list_other_cities-item"><a class="anchor" href="#">2 AVIS Car Rental in <strong> Milan</strong></a></li>
      <li class="list_other_cities-item"><a class="anchor" href="#">3 AVIS Car Rental in <strong> Venice</strong></a></li>
      <li class="list_other_cities-item"><a class="anchor" href="#">4 AVIS Car Rental in <strong> Rome</strong></a></li>
      <li class="list_other_cities-item"><a class="anchor" href="#">5 AVIS Car Rental in <strong> Milan</strong></a></li>
      <li class="list_other_cities-item"><a class="anchor" href="#">6 AVIS Car Rental in <strong> Rome</strong></a></li>
      <li class="list_other_cities-item"><a class="anchor" href="#">7 AVIS Car Rental in <strong> Milan</strong></a></li>
      <li class="list_other_cities-item"><a class="anchor" href="#">8 AVIS Car Rental in <strong> Venice</strong></a></li>
      <li class="list_other_cities-item"><a class="anchor" href="#">9 AVIS Car Rental in <strong> Rome</strong></a></li>
      <li class="list_other_cities-item"><a class="anchor" href="#">10 AVIS Car Rental in <strong> Milan</strong></a></li>
      <li class="list_other_cities-item--lg"><a class="anchor" href="#">11 AVIS Car Rental in <strong> Rome</strong></a></li>
      <li class="list_other_cities-item--lg"><a class="anchor" href="#">12 AVIS Car Rental in <strong> Milan</strong></a></li>
      <li class="list_other_cities-item--lg"><a class="anchor" href="#">13 AVIS Car Rental in <strong> Venice</strong></a></li>
      <li class="list_other_cities-item--lg"><a class="anchor" href="#">14 AVIS Car Rental in <strong> Rome</strong></a></li>
      <li class="list_other_cities-item--lg"><a class="anchor" href="#">15 AVIS Car Rental in <strong> Milan</strong></a></li>
      <li class="list_other_cities-item--lg"><a class="anchor" href="#">16 AVIS Car Rental in <strong> Rome</strong></a></li>
      <li class="list_other_cities-item--lg"><a class="anchor" href="#">17 AVIS Car Rental in <strong> Milan</strong></a></li>
      <li class="list_other_cities-item--lg"><a class="anchor" href="#">18 AVIS Car Rental in <strong> Venice</strong></a></li>
      <li class="list_other_cities-item--lg"><a class="anchor" href="#">19 AVIS Car Rental in <strong> Rome</strong></a></li>
      <li class="list_other_cities-item--lg"><a class="anchor" href="#">20 AVIS Car Rental in <strong> Milan</strong></a></li>
    </ul>
    <div class="footer_other_cities">
      <a class="anchor" href="#"><span class="icon_angle_double_right"></span> All cities in Italy where AVIS works</a>
    </div>
  </div>
</div>
