<div class="rating">
  <app-icons-primitive icon="star"></app-icons-primitive>
  <app-icons-primitive icon="star"></app-icons-primitive>
  <app-icons-primitive icon="star"></app-icons-primitive>
  <app-icons-primitive icon="star"></app-icons-primitive>
  <app-icons-primitive icon="star"></app-icons-primitive>
  <!--<span class="icon_star"></span>-->
  <!--<span class="icon_star"></span>-->
  <!--<span class="icon_star"></span>-->
  <!--<span class="icon_star_half"></span>-->
  <!--<span class="icon_star_empty"></span>-->
  <ng-container *ngIf="rating || rating === 0">
    ({{rating}})
  </ng-container>
</div>
