<app-headings-primitive [usage]="'alternative'" class="heading-alternative--subscribe">Subscribe to our best deals</app-headings-primitive>
<app-headings-primitive [usage]="'subject'" class="heading-subject--subscribe">Car hire at half price. Subscribe to our Exclusive Offers.</app-headings-primitive>
<form>
  <div class="form-wrapper--subscribe">
    <app-input-primitive class="form-input--subscribe" typeInput="text" nameInput="" placeholderInput="Enter your email"></app-input-primitive>
    <app-button-primitive [stils]="'main form'" class="btn-main_form--subscribe">Subscribe</app-button-primitive>
  </div>
</form>