.main_logo {
  display: block;
  background-image: url("/assets/primitives/main-logo-primitive/assets/main-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  //
  height: 26px;
}
