<!--The content below is only a placeholder and can be replaced.-->


<app-other-cities></app-other-cities>
<app-rent-car-section-layout></app-rent-car-section-layout>
<app-book-car></app-book-car>
<app-sitemap-layout></app-sitemap-layout>
<app-footer-layout></app-footer-layout>

<app-icons-primitive icon="star_empty" class="font_32 badass-icon"></app-icons-primitive>
<app-icons-primitive icon="star_half" class="font_18"></app-icons-primitive>

<!--<div style="background-color: #bada55; max-width: 640px; margin: 0 auto;">-->
    <!--<app-button-primitive></app-button-primitive>-->
    <!--<app-checklist-primitive></app-checklist-primitive>-->
    <!--<br>-->
    <!--<app-anchor-primitive></app-anchor-primitive>-->
    <!--<br>-->
    <!--<app-icons-primitive></app-icons-primitive>-->
    <!--<app-store-button-primitive></app-store-button-primitive>-->
    <!--<app-rating-primitive></app-rating-primitive>-->
    <!--<app-fonts-primitive></app-fonts-primitive>-->
    <!--<app-icons-flags-primitive [flag]="'fr'"></app-icons-flags-primitive>-->
    <!--<app-icons-soc></app-icons-soc>-->
    <!--<app-dropdown></app-dropdown>-->
    <!--<app-mybooking-dropdown></app-mybooking-dropdown>-->
    <!--<app-stay-tuned-block></app-stay-tuned-block>-->
    <!--<app-feedback></app-feedback>-->
    <!--<app-questions-block></app-questions-block>-->
    <!--<app-navbar></app-navbar>-->
    <!--<app-book-by-phone-block></app-book-by-phone-block>-->
    <!--<app-grid></app-grid>-->
    <!--<app-subscribe></app-subscribe>-->
    <!--<app-review-block></app-review-block>-->
    <!--<app-ratings-block></app-ratings-block>-->
<!--</div>-->
