.apple {
  &--dark {
    background-image: url("../assets/images/app-store.png");
    background-size: cover;
    border: 1px solid #c0c0c0;
  }

  &--light {
    background-image: url("../assets/images/app-store-white.png");
    background-size: cover;
  }
}

.google {
  &--dark {
    background-image: url("../assets/images/google-play.png");
    background-size: cover;
    border: 1px solid #c0c0c0;
  }

  &--light {
    background-image: url("../assets/images/google-play-white.png");
    background-size: cover;
  }
}