@import "variables";
@import "icons";
@import "styles-fonts";

.block {
  &--feedback {
    margin: 0 auto;
    background-color: transparent;
    padding: 10px;
    border: #bccad7 1px dashed;
    position: relative;
  }
}

.row {
  &--feedback {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.rating {
  &--feedback {
    color: #ffcd4a;
    font-size: 13px;
  }
}

.review-text {
  line-height: 1.38;
}
