//
//dropdown_mrk ---dropdown with marker

.dropdown {
    @include ext(_mrk) {
        background-color: $dropdown_mrk_background_color;

        &:after {
            content: "";
            display: block;
            position: absolute;
            background-color: $dropdown_mrk_content_background_color;
            width: $dropdown_mrk_marker_size;
            height: $dropdown_mrk_marker_size;
            top: calc(100% + #{$dropdown_mrk_space} - #{$dropdown_mrk_marker_size} / 2);
            left: calc(50% - #{$dropdown_mrk_marker_size} / 2);
            transform: rotate(45deg);
            opacity: 0;
            visibility: hidden;
        }

        &-active,
        &:focus {
            background-color: $dropdown_mrk_background_color_active;

            &:after {
                opacity: 1;
                visibility: visible;
                cursor: auto;
            }
        }
    }
&-label{
  @include ext(_mrk) {
  color: $dropdown_mrk_label_color;
  }
}
    &-content {
        @include ext(_mrk) {
            width: 100%;
            top: calc(100% + #{$dropdown_mrk_space});
            background-color: $dropdown_mrk_content_background_color;
            border-radius: 3px;
        }
    }
}
