//dropdown_mrk ---dropdown with marker
$dropdown_mrk_background_color: transparent;
$dropdown_mrk_background_color_active: #142a3c;
$dropdown_mrk_content_background_color: #fff;
$dropdown_mrk_label_color: #fff;
$dropdown_mrk_space: 10px; //šķirba starp dropdown un dropdown-content
$dropdown_mrk_marker_size: 7px; //trīsstūra malas garums!!!
$dropdown_mrk_border_radius: 3px;
//
