.heading {

  &-section {
    font-family: open_sanssemibold;
    font-size: 24px;
    margin: 0;
  }

  &-subsection {
    font-family: open_sanssemibold;
    font-size: 18px;
    margin: 0;
  }

  &-subject {
    font-family: open_sanssemibold;
    font-size: 16px;
    margin: 0;
  }

  &-alternative {
    font-family: open_sanssemibold;
    font-size: 22px;
    line-height: 18px;
    margin: 0;

  }
}
